<div class="tabela-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="idArquivo">
            <th mat-header-cell *matHeaderCellDef> Código </th>
            <td mat-cell *matCellDef="let arquivo"> {{arquivo.idArquivo}} </td>
        </ng-container>

        <ng-container matColumnDef="nomeArquivo">
            <th mat-header-cell *matHeaderCellDef> Nome do arquivo </th>
            <td mat-cell *matCellDef="let element"> {{arquivo.nomeArquivo}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>