.container-simples{
    margin: 15px;
}

.upload-drop-zone {
    height: 150px;
    width: 100%;
    border: 2px darkgray;
    border-style: dashed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: darkgray;
}